@model smallurl.Models.SecretPageModel
@{
    ViewData["Title"] = "Secret Page";
}

<form method="post">
    <div class="form-group">
        <label for="msLink">Microsoft Verified Link</label>
        <input type="text" class="form-control" id="msLink" name="msLink" required />
    </div>
    <button type="submit" class="btn btn-primary">Append ID</button>
</form>

@if (Model.AppendedLink != null)
{
    <div class="alert alert-success mt-3">
        <strong>Appended Link:@Model.AppendedLink</strong>
        <button onclick="copyToClipboard('@Model.AppendedLink')">Copy to Clipboard</button>
    </div>
}
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p>@Model.ErrorMessage</p>
    }
    <script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }
</script>